html {
  height: 100%;
}
body {
  background-color: #eee;
  height: 100%;
}
.calculator {
  max-width: 376px;          /* calculatorの横幅を設定。これでキーが綺麗に並ぶ*/
  margin: 50px auto;            /*calculatorが画面の中央上部に表にされるように設定*/
  background-color: #ccc;
  border: 5px solid #aaa;
  border-radius: 10px;
}
/*
.logo {
  margin: 10px 200px;
  font-size: 40px;
  text-decoration: none;
  color: #fff;
}
.logo:hover {
  color: #eee;
  padding-bottom: 1px;
}
*/
.display {
  width: 320px;
  height: 40px;
  margin: 20px auto;

  font-size: 30px;
  color: #fff;
  background-color: #777;
  border-radius: 10px;
}
.keys {
  flex-wrap: wrap;  /*keyたちを横並びで表示*/
  display: flex;    /*右端に達したら下の行に折り返して表示*/
}
.specialKey,.numberKey,.operatorKey {
  width: 70px;
  height: 70px;
  margin: 10px;
  text-align: center;  
  line-height: 70px;
  font-size: 50px;
  cursor: pointer;
}
.specialKey:hover,.numberKey:hover,.operatorKey:hover {
  border: 2px solid #fff;
}
.specialKey {
  color: #fff;
  border: 2px solid #aaa;
  background-color: #f8995a;
  border-radius: 10px;
}
.specialKey:active {
  color: #f8995a;
  background-color: #fff;
  border: 2px solid #f8995a;
}
.numberKey {
  color: #fff;
  border: 2px solid #aaa;
  background-color: #83d8fa;
  border-radius: 10px;
}
.numberKey:active {
  color: #83d8fa;
  background-color: #fff;
  border: 2px solid #83d8fa;
}
.operatorKey {
  color: #fff;
  border: 2px solid #aaa;
  background-color: #72c740;
  border-radius: 10px;
}
.operatorKey:active {
  color: #72c740;
  background-color: #fff;
  border: 2px solid #72c740;
}