body {
  background-color: #eee;
}
.calculator {
  max-width: 500px;          /* calculatorの横幅を設定。これでキーが綺麗に並ぶ*/
  margin: 50px auto;            /*calculatorが画面の中央上部に表にされるように設定*/
  background-color: #ccc;
  border: 5px solid #aaa;
  border-radius: 10px;
}
.title {
  margin: 10px 200px;  /*タイトルが画面上部中央に来るようにmarginを調整*/
  font-size: 40px;
  text-decoration: none; /*リンクに標準で表示される下線を非表示*/
  color: #fff;
}
.title:hover {
  color: #eee;
  padding-bottom: 1px;             /*文字とborder-botttomとの間隔を調整*/
}
.display {
  width: 430px;
  height: 40px;
  margin: 10px auto;

  font-size: 30px;
  color: #fff;
  background-color: #777;
  border-radius: 10px;
}
.keys {
  flex-wrap: wrap;  /*keyたちを横並びで表示*/
  display: flex;    /*右端に達したら下の行に折り返して表示*/
}
.specialKey,.numberKey,.operatorKey {
  width: 100px;
  height: 100px;
  margin: 10px;
  text-align: center;  
  line-height: 100px;
  font-size: 70px;
  cursor: pointer;
}
.specialKey:hover,.numberKey:hover,.operatorKey:hover {
  border: 2px solid #fff;
}
.specialKey {
  color: #fff;
  border: 2px solid #aaa;
  background-color: #f8995a;
  border-radius: 10px;
}
.specialKey:active {
  color: #f8995a;
  background-color: #fff;
  border: 2px solid #f8995a;
}
.numberKey {
  color: #fff;
  border: 2px solid #aaa;
  background-color: #83d8fa;
  border-radius: 10px;
}
.numberKey:active {
  color: #83d8fa;
  background-color: #fff;
  border: 2px solid #83d8fa;
}
.operatorKey {
  color: #fff;
  border: 2px solid #aaa;
  background-color: #72c740;
  border-radius: 10px;
}
.operatorKey:active {
  color: #72c740;
  background-color: #fff;
  border: 2px solid #72c740;
}